* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f7f6ef; 
    color: #496595; 
}

p, a {
    color: #496595; 
}

.header {
    background-color: #c6d0de; 
    padding: 20px;
    text-align: center;
    border-color: #90a7c4; 
    border-style: outset;
    border-radius: 10px;
}

.header h1 {
    margin: 10px 20px;
    font-size: 2.5rem;
    color: #496595; 
}

.header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

.header nav ul li a {
    padding: 10px 20px;
    font-weight: bold;
    color: #496595;
}

.header nav ul li a:hover {
    background-color: #2C3D3A; 
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #c6d0de; 
    border-radius: 10px;
    border-style: outset;
    border-color: #90a7c4; 
}

.welcome h2, .schedule h2, .gallery h2, .announcements h2, .teacher h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #496595; 
}

.schedule table {
    width: 100%;
    border-collapse: collapse;
    border-style: outset;
    border-color: #496595;
    margin-top: 20px;
}

.schedule th, .schedule td {
    padding: 15px;
    text-align: center;
    border: 2px solid #496595; 
    border-style: outset;
}

.schedule th {
    background-color: #f7f6efc9; 
    color: #496595;
}

/* Gallery */
.gallery-grid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.gallery-grid img {
    width: calc(25% - 15px);
    border-radius: 10px;
    border: 2px solid #496595; 
    border-style: outset;
}

.announcement-list p {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f7f6efc9; 
    border-radius: 10px;
    border-color: #496595;
    border-style: outset;
    color: #496595;
}

footer {
    background-color: #c6d0de; 
    text-align: center;
    padding: 20px;
    color: #F0E4DF;
    border-color: #90a7c4; 
    border-style: outset;
    border-radius: 10px;
}
