body {
    display: grid;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

main{
    align-items: center;
}

header {
    text-align: center;
}

nav {
    background: linear-gradient(#cae0f5,#c5ddd7);
    border-style:inset;
    position: relative;
    width: 100%;
    padding: .7rem 0;
    height: 65px;
    display: flex;
    border-bottom: 10px solid lighten(#000000, 30%);
}
nav > h1 {
    position: relative;
    left: 30px;
    bottom: 8px;
    text-align: left;
}

a {
    position: relative;
    left: 470px;
    text-align: center;
    color: #000000;
}

ul {
    margin: 10;
    padding: 10;
    display: flex;
    grid-template-columns: repeat(7, auto);
    grid-gap: 30px; 
}

.Welcome {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
    position: relative;
    text-align: center;
    display: flex;
    background-image: url("image.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-style:inset;
    height: 300px;
    max-height: fit-content;
    width: 100%;
    max-width: fit-content;
}
